<include file="public:header" />
<!--添加文章-->
<form id="info_form" action="{:u(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="post" enctype="multipart/form-data">
    <div class="pad_10">
        <div class="col_tab">
            <ul class="J_tabs tab_but cu_li">
                <li class="current">{:L('article_basic')}</li>
                
            </ul>
            <div class="J_panes">
                <div class="content_list pad_10">
                    <table width="100%" cellspacing="0" class="table_form">
                        <tr>
                            <th>关键字 :</th>
                            <td><textarea name="keywords" id="keywords" cols="80" rows="8"></textarea></td>
                        </tr> 
                    </table>
                </div>
            </div>
        </div>
        <input type="hidden" name="group_id" value="{$group_id}" />
        <div class="btn_wrap_fixed">
            <input type="submit" value="{:L('submit')}" id="dosubmit1" name="dosubmit1" class="btn btn_submit" style="margin:0 0 5px 5px;">
        </div>
    </div>
</form>
<include file="public:footer" />
 
</body>
</html>