<include file="public:header" />
<!--添加文章-->
<form id="info_form" action="{:u(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="post" enctype="multipart/form-data">
    <div class="pad_10">
        <div class="col_tab">
            <ul class="J_tabs tab_but cu_li">
                <li class="current">{:L('article_basic')}</li>
                <li>{:L('article_seo')}</li>
            </ul>
            <div class="J_panes">
                <div class="content_list pad_10">
                    <table width="100%" cellspacing="0" class="table_form">
                        <tr>
                            <th>域名 :</th>
                            <td><textarea name="sites" id="sites" cols="80" rows="8"></textarea></td>
                        </tr>
                        <tr>
                            <th>关键字 :</th>
                            <td><textarea name="keywords" id="keywords" cols="80" rows="8"></textarea></td>
                        </tr>
                        <tr>
                            <th>模板 :</th>
                            <td><textarea name="moban" id="moban" cols="80" rows="4"></textarea></td>
                        </tr>

                    </table>
                </div>
                <div class="content_list pad_10 hidden">
                    <table width="100%" cellspacing="0" class="table_form">
                        <tr>
                            <th width="120">{:L('seo_title')} :</th>
                            <td><input type="text" name="sitetitle" id="sitetitle" class="input-text" value="" size="60">
                                <br>
                                如：“{关键字}-有限公司热线电话88888 ” 
                                <br>
                                标签：
                                <a href="javascript:;" class="J_keywrod2" label="{关键字}" title="网站名称">关键字</a>  
                            </td>
                        </tr> 
                        <tr> 
                            <th>{:L('seo_desc')} :</th>
                            <td><textarea name="description" id="description" cols="80" rows="8"></textarea> <br>
                                “ 咨询热线:153-2229-8856专家团队,成功案例1000多家,{关键字}公司服务品质一流,选择{关键字}让你家庭美满”
                                <br>
                                标签：
                                <a href="javascript:;" class="J_keywrod" label="{关键字}" title="网站名称">关键字</a> 
                                | <a href="javascript:;" class="J_keywrod" label="{关键字1}"  title="关键字中的第一个关键字">关键字1</a>
                                | <a href="javascript:;" class="J_keywrod" label="{关键字2}"  title="关键字中的第二个关键字">关键字2</a>
                                | <a href="javascript:;" class="J_keywrod" label="{关键字3}" title="关键字中的第三个关键字">关键字2</a>

                            </td>
                        </tr> 
                    </table>
                </div>
            </div>
        </div>
        <div class="btn_wrap_fixed">
            <input type="submit" value="{:L('submit')}" id="dosubmit1" name="dosubmit1" class="btn btn_submit" style="margin:0 0 5px 5px;">
        </div>
    </div>
</form>
<include file="public:footer" />

<script src="__PUBLIC__/public/js/inserttext.js"></script>
<script>
    $(function () {
        /**
         * tabs 选择标签
         */
        $('ul.J_tabs').tabs('div.J_panes > div');
        $('.J_keywrod').live('click', function () {
            var self = $(this), label_title = self.attr('label');
            $("#description").insertContent(label_title);

        });
        $('.J_keywrod2').live('click', function () {
            var self = $(this), label_title = self.attr('label');
            $("#sitetitle").insertContent(label_title);

        });

    });

</script>
</body>
</html>